on: [push]
name: bana-rs-ci
jobs:
  build_and_test:
    name: bana-rs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: cargo build --release --all-features
